@media (min-width: 2561px) {
  .main__grid {
    display:grid ;
    grid-template-rows: 1fr;
  }

  .header-main {
    background-color: black;
    position: fixed;
    width: 100vw;
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    height: 60px;
    padding: 0 128px 0 0;
    font-size: 20px;
  }

  .navigation__item {
    padding: 20px 0;
    width: 200px;
    text-align: center;
  }

  .navigation__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .navigation__link:hover {
    color:#ff2323;
  }

  .navigation__sublist {
    display: none;
  }

  .navigation__list > .navigation__item:hover > .navigation__sublist {
    display: block;
    list-style-type: none;
    color:white;
    padding: 8px;
    background: rgba(0, 0, 0, 0.904);
    margin: 0;
  }

  .navigation__subitem {
    padding: 16px;
  }

  .navigation__sublink {
    color: white;
    text-decoration: none;
  }

  .navigation__sublink:hover {
    color:#ff2323
  }

.navigation__arrow {
  width: 16px;
}

  .top {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .home {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: rgb(0, 0, 0);
  }

  .home__logo {
    width: 100vw;
  }

  .home__mobile-addon {
    display: none;
  }

  .window {
    min-height: 100vh;
  }

  .window--01 {
    /*Photo by ? */
    background: url('../img/school.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .window--01a {
    /*Photo by ? */
    background: url('../img/kalandyk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .window--02 {
    /*Photo by ? */
    background: url('../img/vocal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40vw 60vw;
  }

  .window--03 {
    /*Photo by ? */
    background: url('../img/guitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 60vw 40vw;
  }

  .window--04 {
    /*Photo by ? */
    background: url('../img/bass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40vw 60vw;
  }

  .window--05 {
    /*Photo by ? */
    background: url('../img/piano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .window--06 {
    /*Photo by ? */
    background: url('../img/ukulele.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 60vw 40vw;
  }

  .window--07 {
    /*Photo by ? */
    background: url('../img/studio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 50vw 50vw;
  }

  .window--08 {
    /*Photo by ? */
    background: url('../img/publishing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 35vw 65vw;
  }

  .window__wall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 196px;
    margin-bottom: 128px;
    padding: 0 128px 0 128px;
  }

  .window__wall--column {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 128px;
    padding: 0 128px 0 128px;
    align-content: space-between;
  }

  .window__wall--gap {
    grid-gap: 32px;
  }

  .window__wall--special {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    padding: 0 128px 0 128px;
    align-content: space-between;
  }

  .window__wall--ukulele {
    justify-items: center;
    grid-gap: 0;
    margin-bottom: 128px;
  }

  .window__header {
    color: white;
    text-align: center;
    font-size: 128px;
    padding: 128px 0 0 0;
    margin: 0 0 32px 0;
  }

  .window__header--red {
    color:#ff2323;
  }

  .window__header--special {
    color:#ffffff;
    background-color: #000000;
    width: fit-content;
    padding: 0 16px;
    margin: 128px auto 64px;
    letter-spacing: 2px;
      -webkit-transform:scale(1,1.5); /* Safari and Chrome */
      -moz-transform:scale(1,1.5); /* Firefox */
      -ms-transform:scale(1,1.5); /* IE 9 */
      -o-transform:scale(1,1.5); /* Opera */
      transform:scale(1,1.5); /* W3C */
  }

  .window__importantA {
    color:#ff2323;
  }

  .window__importantB {
    color:#ff8929;
  }

  .window__paragraph {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 32px;
    text-align: justify;
    font-size: 48px;
    line-height: 56px;
  }

  .window__paragraph--big {
    font-size: 52px;
    line-height: 62px;
    margin-top: 300px;
  }

  .window__paragraph--special {
    margin: 64px 0 0 0;
    text-align: center;
    color: #ff8929;
    padding: 32px;
    font-size: 56px;
  }

  .window__paragraph--questions {
    color:#ff8929;
    text-align: left;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
  }

  .window__wall--reference {
    justify-items: center;
    grid-gap:128px;
  }

  .window__header--reference {
    color:#ffffff;
    background-color: #000000;
    width: fit-content;
    padding: 0 16px;
    margin: 128px auto 64px;
    letter-spacing: 5px;
      -webkit-transform:scale(1,1.1); /* Safari and Chrome */
      -moz-transform:scale(1,1.1); /* Firefox */
      -ms-transform:scale(1,1.1); /* IE 9 */
      -o-transform:scale(1,1.1); /* Opera */
      transform:scale(1,1.1); /* W3C */
  }

  .reference {
    width: 100%;
  }
  .reference__element {
    padding-top: 64px;
  }

  .reference__link {
    color:#ff2323;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 96px;
    font-weight: 700;
    display: block;
    text-align: center;
  }

  .reference__pic {
    width: 100%;
  }

  .window__paragraph--reference {
    text-align: center;
    color:#ff8929;
    text-transform: uppercase;
    font-size: 48px;
    padding:32px;
  }

  .window__paragraph--reference-small {
    text-align: justify;
    color:#ffffff;
    font-size: 40px;
    padding: 64px;
  }

  .show {
    width: 80vw;
    height: 992px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    align-content: space-between;
    justify-items: center;
    padding: 96px;
    margin: 0 auto 0 auto;
  }

  .show__element {
    width: 600px;
    height: 800px;
    background: white;
    position: relative;
  }

  .show__pic {
    width: 600px;
    height: 800px;
  }

  .show__description {
    position: absolute;
    bottom: 0;
    background-color: #000000c7;
    width: 100%;
  }

  .show__paragraph {
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .gear {
    display: grid;
    grid-gap: 32px;
    justify-items: flex-end;
    grid-template-rows: 280px 280px 280px;
    padding-right: 144px;
    margin-top: 24px;
  }

  .gear__element {
    background-color: rgba(0, 0, 0, 0.753);
    width: 830px;
    height: 280px;
    display: grid;
    grid-template-columns: 400px 430px;
    align-content: space-around;
  }

  .gear__paragraph {
    color: white;
    font-size: 18px;
    padding: 32px;
    text-transform: uppercase;
    margin: 0;
    text-align: justify;
  }

  .gear__pic {
    height: 225px;
    width: 400px;
  }

  .publishing {
    width: 100vw;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 0 60px;
    margin: 0;
  }

  .publishing__element {
    width: 480px;
    height: 270px;
    background: white;
  }

  .publishing__pic {
    width: 100%;
  }

  .footer {
    background-color: black;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 128px;
    justify-items: center;
    align-items: center;
    padding: 96px 128px;
  }

  .footer__paragraph {
    color: white;
    text-align:center;
    font-size: 24px;
    margin-top: 0;
  }

  .footer__important {
    color:#ff2323;
  }

  .footer__logo {
    width: 85%;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    padding-top: 24px;
  }


  .space {
    height: 20px;
    background: black;
  }

  .special-text__tidal {
    color: #0ff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .special-text__spotify {
    color: #1DB954;
    font-weight: 700;
    text-transform: uppercase;
  }

  .special-text__apple {
    color: #fc3c44;
    font-weight: 700;
    text-transform: uppercase;
  }

  .youtube-frame {
    margin: 24px 0;
    width: 1280px;
    height: 720px;
  }

  .social {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 40px;
    padding-right: 40px;
  }

  .social__icon {
    font-size: 88px;
    padding: 0 8px 0 16px;
  }
}