html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Mukta', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.home__header {
  margin: 0;
  padding: 0;
}

.navigation__arrow {
  width: 12px;
  margin-right: 8px;
}

.footer__link {
  text-decoration: none;
}

.social__link {
  text-decoration: none;
  color: white;
}

.social__icon--facebook:hover {
  color:rgb(0, 81, 255);
}
.social__icon--instagram:hover {
  color:rgb(255, 58, 206);
}

.social__icon--youtube:hover {
  color:rgb(255, 0, 0);
}
.social__icon--apple:hover {
  color:rgb(209, 32, 77);
}
.social__icon--spotify:hover {
  color:rgb(16, 189, 0);
}

.window__paragraph--reference-small {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.star {
  color: rgb(255, 217, 0);
  font-size: 28px;
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .main__grid {
    display:grid ;
    grid-template-rows: 1fr;
  }

  .header-main {
    background-color: black;
    position: fixed;
    width: 100vw;
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    height: 60px;
    padding: 0 128px 0 0;
    font-size: 14px;
  }

  .navigation__item {
    padding: 20px 0;
    width: 130px;
    text-align: center;
  }

  .navigation__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .navigation__link:hover {
    color:#ff2323;
  }

  .navigation__sublist {
    display: none;
  }

  .navigation__list > .navigation__item:hover > .navigation__sublist {
    display: block;
    list-style-type: none;
    color:white;
    padding: 8px;
    background: rgba(0, 0, 0, 0.904);
    margin: 0;
  }

  .navigation__subitem {
    padding: 16px;
  }

  .navigation__sublink {
    color: white;
    text-decoration: none;
  }

  .navigation__sublink:hover {
    color:#ff2323
  }

  .top {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .home {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: rgb(0, 0, 0);
  }

  .home__logo {
    width: 100vw;
  }

  .home__mobile-addon {
    display: none;
  }

  .window {
    min-height: 100vh;
  }

  .window--01 {
    /*Photo by ? */
    background: url('../img/school.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .window--01a {
    /*Photo by ? */
    background: url('../img/kalandyk.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .window--02 {
    /*Photo by ? */
    background: url('../img/vocal.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 30vw 70vw;
  }

  .window--03 {
    /*Photo by ? */
    background: url('../img/guitar.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 60vw 40vw;
  }

  .window--04 {
    /*Photo by ? */
    background: url('../img/bass.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40vw 60vw;
  }

  .window--05 {
    /*Photo by ? */
    background: url('../img/piano.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .window--06 {
    /*Photo by ? */
    background: url('../img/ukulele.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 60vw 40vw;
  }

  .window--07 {
    /*Photo by ? */
    background: url('../img/studio.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 50vw 50vw;
  }

  .window--08 {
    /*Photo by ? */
    background: url('../img/publishing.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 35vw 65vw;
  }

  .window__wall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 128px;
    margin-bottom: 128px;
    padding: 0 128px 0 128px;
  }

  .window__wall--column {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 128px;
    padding: 0 128px 0 128px;
    align-content: space-between;
  }

  .window__wall--gap {
    grid-gap: 32px;
  }

  .window__wall--special {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    padding: 0 128px 0 128px;
    align-content: space-between;
  }

  .window__wall--ukulele {
    justify-items: center;
    grid-gap: 0;
    margin-bottom: 64px;
  }

  .window__header {
    color: white;
    text-align: center;
    font-size: 88px;
    padding: 96px 0 0 0;
    margin: 0 0 32px 0;
  }

  .window__header--red {
    color:#ff2323;
  }

  .window__wall--reference {
    justify-items: center;
    grid-gap: 32px;
  }

  .window__header--reference {
    color:#000000;
    width: fit-content;
    padding: 0 16px;
    margin: 128px auto 64px;
    letter-spacing: 5px;
  }

  .reference__element {
    padding-top: 32px;
  }

  .reference__link {
    color:#ff2323;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    display: block;
    text-align: center;
  }

  .reference__pic {
    width: 100%;
  }

  .window__header--special {
    color:#000000;
    width: fit-content;
    padding: 0 16px;
    margin: 128px auto 64px;
    letter-spacing: 2px;
  }

  .window__importantA {
    color:#ff2323;
  }

  .window__importantB {
    color: #ff2323;
    font-weight: 700;
  }

  .window__paragraph {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 32px;
    text-align: justify;
    font-size: 24px;
    line-height: 32px;
  }

  .window__paragraph--big {
    font-size: 26px;
    line-height: 40px;
  }

  .window__paragraph--special {
    margin: 0;
    text-align: center;
    color: #000000;
    padding: 8px;
    font-size: 28px;
    background: none;
  }

  .window__paragraph--questions {
    color: #ff2323;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
  }

  .window__paragraph--reference {
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    font-size: 30px;
    padding: 8px;
    max-width: 800px;
    font-weight: 700;
    background: none;
    letter-spacing: 3px;
  }

  .window__paragraph--reference-small {
    text-align: center;
    color:#585858;
    background-color: white;
    font-size: 20px;
    padding: 16px;
  }

  .show {
    width: 80vw;
    height: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    align-content: space-between;
    justify-items: center;
    padding: 0;
    margin: 0 auto 64px auto;
  }

  .show__element {
    width: 420px;
    height: 560px;
    background: white;
    position: relative;
  }

  .show__pic {
    width: 420px;
    height: 560px;
  }

  .show__description {
    position: absolute;
    bottom: 0;
    background-color: #000000c7;
    width: 100%;

  }

  .show__paragraph {
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .gear {
    display: grid;
    grid-gap: 32px;
    justify-items: flex-end;
    grid-template-rows: 140px 140px 140px;
    padding-right: 144px;
    margin-top: 24px;
  }

  .gear__element {
    background-color: rgba(0, 0, 0, 0.7);
    width: 640px;
    height: 135px;
    display: grid;
    grid-template-columns: 400px 240px;
    align-content: space-around;
  }

  .gear__paragraph {
    color: white;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 16px 0 16px;
    text-transform: uppercase;
    margin: 0;
    text-align: justify;
  }

  .gear__pic {
    height: 135px;
    width: 240px;
  }

  .publishing {
    width: 100vw;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 0 60px;
    margin: 0;
  }

  .publishing__element {
    width: 240px;
    height: 135px;
    background: white;
  }

  .publishing__pic {
    width: 100%;
  }

  .footer {
    background-color: black;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
    justify-items: center;
    padding: 96px 128px;
  }

  .footer__paragraph {
    color: white;
    text-align:center;
  }

  .footer__paragraph--center {
    text-align: center;
  }

  .footer__paragraph--center:hover {
    color:#ff2323;
  }

  .footer__important {
    color:#ff2323;
  }

  .footer__logo {
    width: 90%;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }


  .link-box {
    padding: 0 20px;
    text-align: center;
  }

  .space {
    height: 20px;
    background: black;
  }

  .special-text__tidal {
    color: #0ff;
    font-weight: 700;
    text-transform: uppercase;
  }

  .special-text__spotify {
    color: #1DB954;
    font-weight: 700;
    text-transform: uppercase;
  }

  .special-text__apple {
    color: #fc3c44;
    font-weight: 700;
    text-transform: uppercase;
  }

  .youtube-frame {
    margin: 24px 0;
    width: 400px;
    height: 225px;
  }

  .youtube-frame--bass {
    margin: auto;
  }

  .social {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 20px;
  }

  .social__icon {
    font-size: 48px;
    padding: 0 8px 0 0;
  }

  .profile-pic {
    display: none;
  }
}